:root {
    --btn-base-color: #026873;
    --btn-hover-color: #03a678;
}

header {
    height: 100vh;
}

header nav {
    background-color: transparent;
    height: 8%;
    width: 100%;
}

h1,
h3 {
    text-align: center;
    text-justify: inter-word;
}

h1 {
    font-size: 200%;
    font-weight: 300;
}

h3 {
    font-size: 92%;
    margin-top: 5%;
}

.main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/backgrounds/landing-page-bg.jpg');
    background-size: fill;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.header-container {
    margin: 0 auto;
    height: 95%;
    width: 80%;
    max-width: 1000px;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

header nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
}

header nav h1 {
    letter-spacing: 1px;
    font-size: 120%;
    font-weight: 500;
    color: #fff;
    margin-left: 30px;
}

header nav h1 sup {
    font-size: 150%;
}

.logo-landing {
    color: #3eb5cf;
}

.header-container ul {
    margin-top: 15px;
}

.header-container ul li {
    list-style: none;
    display: inline-block;
}

.header-container ul li a:link,
.header-container ul li a:visited {
    text-decoration: none;
    padding: 5px 18px;
    background-color: var(--btn-base-color);
    border: 1px solid var(--btn-base-color);
    border-radius: 20px;
    color: #fff;
    font-size: 78%;
    transition: all 0.4s ease;
}

.header-container ul li:last-of-type a {
    background-color: transparent;

}

.header-container ul li a:first-child {
    margin-right: 10px;
}

.header-container ul li a:hover,
.header-container ul li a:active {
    background-color: var(--btn-hover-color);
    border: 1px solid var(--btn-hover-color);
}


.mid-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/backgrounds/romantic_home.jpg');
    background-size: fill;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}


.mid-container h1 {
    font-size: 450%;
}

.bottom-container {
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: #195973;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/backgrounds/dancer_home.jpg');
    background-size: fill;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

.bottom-container h1 {
    font-size: 400%;
    font-weight: 100;

}

.bottom-container footer {
    position: absolute;
    bottom: 10px;
}

.bottom-container footer p {
    letter-spacing: 0.8px;
}

.bottom-container h1,
.mid-container h1 {
    width: 90%;
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}