:root {
    --btn-base-color: #3BA7BF;
    --btn-hover-color: #195973;
}

.reg-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/backgrounds/register.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.reg-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 80%;
    margin: 0 auto;
    height: 80%;
}

.reg-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 20px 40px;
    width: 100%;
    max-width: 450px;

    margin: auto 0;
}

.reg-form input {
    padding: 3px 3px 3px 6px;
    margin: 3px 0 5px;
    font-family: 'Red Rose', cursive;
    font-size: 70%;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    letter-spacing: 0.5px;
    border: 1px solid #e6e5e5;
}

.reg-form input[type='submit'] {
    width: 30%;
    margin-top: 13px;
    background-color: var(--btn-base-color);
    border: 1px solid var(--btn-base-color);
    color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all 0.4s ease;
}

.reg-form input[type='date'] {
    margin-bottom: 20px;
}

.reg-form input[type='submit']:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
    border: 1px solid var(--btn-hover-color);
}

.reg-form label {
    font-size: 70%;
    font-weight: 400;
    color: #b6b4b4;
}

.reg-form span {
    margin-bottom: 15px;
    font-size: 70%;
}

.err-msg {
    color: #bb0000;
    font-weight: 700;
}

.success-msg {
    color: #008f00;
    font-weight: 700;
}

.already-registered {
    text-decoration: none;
    letter-spacing: 0.5px;
    margin-right: 5px;
}

.already-registered span {
    color: #fff;
    font-size: 65%;

}

.already-registered .sub-reg-log {
    font-weight: 700;
    color: var(--btn-base-color);
    font-size: 70%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.already-registered .sub-reg-log:hover {
    color: var(--btn-hover-color);
}

.sub-con-reg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}