:root {
    --btn-base-color: #3BA7BF;
    --btn-hover-color: #195973;
}

.reg-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/backgrounds/register.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    overflow: scroll;
}

.reg-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 80%;
    margin: 0 auto;
    height: 80%;
}

.reg-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 20px 40px;
    width: 100%;
    max-width: 450px;

    margin: auto 0;
}

.reg-form input {
    padding: 5px;
    margin: 3px 0 5px;
    font-family: 'Red Rose', cursive;
    font-size: 70%;
    border: 1px solid #555;
    border-radius: 5px;
}

.reg-form input[type='submit'] {
    width: 30%;
    margin-top: 13px;
    background-color: var(--btn-base-color);
    border: 1px solid var(--btn-base-color);
    color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all 0.4s ease;
}

.reg-form input[type='submit']:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
    border: 1px solid var(--btn-hover-color);
}

.reg-form label {
    font-size: 90%;
    font-weight: 400;
    color: #fff;
}

.reg-form span {
    margin-bottom: 15px;
    font-size: 70%;
}

.err-msg {
    color: #bb0000;
}

.success-msg {
    color: #008f00;
}