/*HOME*/

@media screen and (max-width: 1171px) {

    .right-section h4 {
        font-size: 100%;
    }

    .name-pic a {
        font-size: 90%;
    }

    .name-pic img {
        width: 22px;
    }

    .possible-friends img:last-child {
        width: 18px;
        height: 18px;
    }

    .post-body {
        font-size: 90%;
    }
}


@media screen and (max-width: 981px) {
    .right-section {
        display: none;
    }

    .left-section {
        display: none;
    }

    .middle-section {
        width: 90%;
        margin: 0 auto;
    }

    .top-nav nav ul {
        display: none;
    }


    .logo-search-container p {
        font-size: 90%;
    }

    .logo-search-container input[type="search"] {
        display: none;

    }

    .logo-search-container input[type="submit"] {
        display: none;
    }

    .top-nav nav {
        justify-content: flex-end;
    }

    .toggle-btn {
        display: block;
    }

}

@media screen and (max-width:700px) {
    .sidebar ul {
        flex-flow: column;
    }

    .sidebar ul li {
        width: 100%;
        height: 25%;
    }
}

@media screen and (min-width: 982px) {

    .sidebar {
        display: none;
    }
}

/*post likes/dislikes/comments*/
@media screen and (max-width: 348px) {

    .post-reactions {
        display: block;
        padding-bottom: 10px;
    }

    .post-reactions img {
        position: absolute;
        left: 0;
    }

    .post-reactions .post-dislikes img {
        margin-top: 15px;
    }

    .post-reactions .post-likes {
        margin-bottom: 18px;
    }

    .post-reactions .post-likes .like-count,
    .post-reactions .post-dislikes .dislike-count {
        font-size: 85%;
    }


    .post-reactions .post-likes .like-count {
        position: absolute;
        left: 35px;
        margin-bottom: 2px;

    }

    .post-reactions .post-dislikes .dislike-count {
        position: absolute;
        left: 35px;
        margin-top: 13px;
    }

    .post-reactions .post-comments {
        margin-top: 25px;
    }

    .post-reactions .post-comments a {
        position: absolute;
        left: 0;
    }
}

/*end post likes/dislikes/comments*/

@media screen and (max-width: 242px) {

    .sidebar-search input[type="search"] {
        width: 80%;
        font-size: 50%;
        margin-left: 10%;
    }

    .sidebar-search input[type="submit"] {
        font-size: 150%;
        margin-right: 10%;
    }

    .post-something {
        width: 90%;
    }
}

@media screen and (max-width: 214px) {

    body {
        display: none;
    }
}


@media screen and (max-width: 495px) {
    .post-author-info {
        flex-flow: column;
    }

    .post-body {
        font-size: 110%;
    }
}


/*PROFILE*/

@media screen and (min-width: 517px) {
    .hobbies-and-interests h3 {
        width: 100%;
        text-align: center;
    }

    .hobbies-and-interests {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 500px;
    }

    .hobbies-and-interests .hobbie-tile {
        text-align: center;
        height: 40%;
        width: 46%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hobbies-and-interests .hobbie-tile img {
        width: 90px;
    }

}

@media screen and (min-width: 650px) {

    .personal-info {
        flex-flow: row;
        justify-content: space-evenly;
        height: 1000px;
    }

    .personal-info .profile-pic {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .personal-info .profile-pic img {
        max-width: 250px;
        width: 60%;
    }

    .personal-info .personal-details p {
        font-size: 90%;
    }

    .personal-info .personal-details p:first-child {
        margin-top: 58px;
    }

    .friends {
        flex-flow: row;
        flex-wrap: wrap;
    }

    .friends .friend-mini-profile {
        width: 48%;
        height: 36%;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .friends .friend-mini-profile img {
        width: 90px;
    }

    .friends .friend-mini-profile p {
        font-size: 110%;
    }

    .friends h3,
    .friends a:last-child {
        width: 100%;
        text-align: center;
    }

}

/*final-reg*/
@media screen and (max-width:611px) {
    .final-reg-form {
        flex-flow: column;
        min-height: 1500px;
    }

    .final-reg-form .left-top,
    .final-reg-form .right-bottom {
        margin: 20px 0;
    }
}

@media screen and (max-width: 300px) {

    .final-reg-form .left-top input[type='text'],
    .final-reg-form .left-top input[type='date'],
    .final-reg-form .right-bottom input[type='text'] {
        padding: 2px 5px;
        margin-bottom: 9px;
        width: 100%;
        font-size: 58%;
    }

    .final-reg-form .left-top label,
    .final-reg-form .right-bottom label {
        font-size: 65%;
        margin: 4px 0 3px 0;

    }

    .reg-user-bio {
        font-size: 58%;
    }

    .reg-hobbies span {
        font-size: 65%;
    }

    .final-reg-form .right-bottom input[type='submit'] {
        padding: 3px 11px;
        font-size: 60%;

    }

}

/*friend-request*/
@media screen and (max-width:666px) {
    .friend-request-wrapper .friend-request-msg h1 {
        font-size: 90%;
    }

    .friend-request-wrapper .friend-request-msg .click-to-redirect {
        font-size: 80%;
    }
}


/*notifications*/
@media screen and (max-width:720px) {
    .notification-info .left-notification {
        font-size: 90%;
        width: 80%;
    }

    .notification-info .right-notification {
        width: 19%;
    }

    .notification-info button img {
        width: 22px;
    }
}

@media screen and (max-width:580px) {
    .notification-info {
        flex-flow: column;

    }

    .notification-info .left-notification {
        font-size: 95%;
        width: 100%;
        text-align: center;
    }

    .notification-info .right-notification {
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }

    .notification-info button img {
        width: 30px;
    }

}