@media screen and (max-width: 1171px) {

    .right-section h4 {
        font-size: 100%;
    }

    .name-pic a {
        font-size: 90%;
    }

    .name-pic img {
        width: 22px;
    }

    .possible-friends img:last-child {
        width: 18px;
        height: 18px;
    }

    .post-body {
        font-size: 90%;
    }
}


@media screen and (max-width: 981px) {
    .right-section {
        display: none;
    }

    .left-section {
        display: none;
    }

    .middle-section {
        width: 90%;
        margin: 0 auto;
    }

    .top-nav nav ul {
        display: none;
    }


    .logo-search-container p {
        font-size: 90%;
    }

    .logo-search-container input[type="search"] {
        display: none;

    }

    .logo-search-container input[type="submit"] {
        display: none;
    }

    .top-nav nav {
        justify-content: flex-end;
    }

    .toggle-btn {
        display: block;
    }

}

@media screen and (max-width:700px) {
    .sidebar ul {
        flex-flow: column;
    }

    .sidebar ul li {
        width: 100%;
        height: 25%;
    }
}

@media screen and (min-width: 982px) {

    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 242px) {

    .sidebar-search input[type="search"] {
        width: 80%;
        font-size: 50%;
        margin-left: 10%;
    }

    .sidebar-search input[type="submit"] {
        font-size: 150%;
        margin-right: 10%;
    }

    .post-something {
        width: 90%;
    }
}

@media screen and (max-width: 214px) {

    body {
        display: none;
    }
}


@media screen and (max-width: 495px) {
    .post-author-info {
        flex-flow: column;
    }

    .post-body {
        font-size: 110%;
    }
}