@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;700&display=swap");

:root {
  --body-back: #b0cdd9;
  --base-clr: #026873;
  --btn-hover-one: #03a678;
  --name-clr: #2f3547;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  background-color: var(--body-back);
  width: 100vw;
  height: 100%;
  overflow: scroll;
}

.sub-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/**TOP NAV**/

.top-nav {
  position: static;
  height: 6vh;
  width: 100vw;
  background-color: var(--base-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-bottom: 4px solid var(--btn-hover-one);
  min-height: 60px;
}

.top-nav nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.top-nav nav ul {
  display: flex;
  margin: auto 0;
}

.top-nav ul li {
  list-style: none;
}

.top-nav ul li a {
  text-decoration: none;
  margin-left: 15px;
}

.logo-search-container p {
  display: inline;
  font-weight: 700;
  margin-right: 10px;
  letter-spacing: 0.8px;
  font-size: 90%;
}

.logo-search-container input[type="search"] {
  width: 210px;
  padding: 4px 3px 4px 8px;
  font-size: 63%;
  border: 0;
  border-radius: 5px;
}

.logo-search-container input[type="submit"] {
  padding: 0 0 10px 0;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  color: var(--btn-hover-one);
  transition: all 0.3s ease;
  font-size: 150%;
  margin-left: -1px;
}

.logo-search-container input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/**END TOP NAV**/

/**MAIN PAGE**/

.main-container {
  width: 95%;
  max-width: 1140px;
  height: 90vh;
  min-height: 90vh;
  margin: 0 auto;
  font-size: 80%;
  display: flex;
  justify-content: space-between;
}

.left-section,
.middle-section,
.right-section {
  word-wrap: break-word;
  margin: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
}

/*LEFT*/
.left-section {
  margin-top: 2%;
  width: 22.5%;
  background-color: #fff;
  padding: 10px;
  font-size: 90%;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.left-section img {
  width: 100px;
  margin-top: 10px;
}

.left-section p {
  margin-top: 5px;
}

.top-personals,
.middle-personals,
.bottom-personals {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 10px 0 10px 0;
}

.left-section div:last-child {
  border: 0;
}

.middle-personals p,
.bottom-personals p {
  margin-top: 10px;
}

.middle-personals span,
.bottom-personals span {
  display: block;
  font-weight: 600;
}

/*MIDDLE*/
.middle-section {
  width: 45%;
}

/*POST SOMETHING*/
.post-something {
  margin-top: 6%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 30px;
  width: 200px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.post-something ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.post-something ul li {
  list-style: none;
}

.post-something ul li a img:first-child {
  margin-right: 20px;
}

.post-something ul li a img:last-child {
  margin-left: 20px;
}

.post-something ul li a img {
  width: 50px;
  transition: all 0.3s ease;
}

.post-something ul li a img:hover {
  transform: scale(1.2);
}

/*NEWS FEED*/

.news-feed {
  background-color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.post-author-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-author-details p {
  font-weight: 600;
  letter-spacing: 0.7px;
}

.post-time-stamp small {
  font-size: 75%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.post-body {
  margin: 15px 0 30px 0;
  font-size: 95%;
  text-align: center;
  line-height: 20px;
}

.post-reactions {
  display: flex;
  position: relative;
}

.post-reactions img {
  margin-right: 15px;
}

.post-reactions a {
  position: absolute;
  right: 10px;
  font-size: 85%;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.post-reactions a,
.post-reactions img {
  cursor: pointer;
}

/*RIGHT*/
.right-section {
  margin-top: 2%;
  width: 22.5%;
  background-color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.right-section h4 {
  margin-bottom: 20px;
  font-size: 110%;
}

.possible-friends {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-pic img {
  width: 25px;
  transition: all 0.3s ease;
}

.name-pic a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--name-clr);
  font-weight: 600;
}

.possible-friends {
  margin-top: 20px;
}

.possible-friends img:last-child {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.possible-friends img:last-child:hover {
  cursor: pointer;
  transform: scale(0.9);
}

/**END MAIN PAGE**/

/*SIDEBAR ON SMALL SCREENS*/
.sidebar {
  z-index: 5;
  position: absolute;
  width: 100vw;
  height: 94%;
  min-height: 820px;
  top: 60px;
  background: rgba(0, 0, 0, 0.9);
  right: 0;
  bottom: 0%;
  left: -100%;
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  display: flex;
  width: 100%;
  height: 90%;
  flex-wrap: wrap;
}

.sidebar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
  width: 33.3%;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.sidebar ul li a span {
  margin-top: 15px;
  font-size: 80%;
}


.sidebar ul li:hover {
  border: 1px solid #fff;
}


.toggle-btn {
  position: absolute;
  top: 18px;
  left: 20px;
  display: none;
}

.toggle-btn span {
  width: 27px;
  height: 2px;
  background: #fff;
  display: block;
  margin-top: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.toggle-btn:hover {
  cursor: pointer;
}

.sidebar-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: auto 0;
}

.sidebar-search input[type="search"] {
  width: 200px;
  padding: 4px 3px 4px 12px;
  font-size: 60%;
  border: 0;
  border-radius: 5px;
}

.sidebar-search input[type="submit"] {
  padding: 0 0 10px 0;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  color: var(--btn-hover-one);
  transition: all 0.3s ease;
  font-size: 160%;
  margin-left: 6px;
}

.sidebar-search input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/*END SIDEBAR ON SMALL SCREENS*/



/*MODALS FOR POST AND ATTACH BTNS*/
.modal {
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 10;
  background-color: var(--body-back);
  width: 500px;
  max-width: 80%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.modal-header .title {
  font-size: 100%;
  font-weight: 600;
  color: var(--base-clr);
}

.modal-header .close-button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: 0;
  font-size: 110%;
  font-weight: 600;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body textarea {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 85%;
  border: 1px solid #b3b3b3;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal-body input[type='submit'] {
  padding: 4px 14px;
  background-color: var(--base-clr);
  color: #fff;
  font-size: 75%;
  font-weight: 600;
  border: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.modal-body input[type='submit']:hover {
  cursor: pointer;
  background-color: var(--btn-hover-one);
  color: #000;
}

.modal-body input[type='file'] {
  font-size: 80%;
  border: 0;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}




/*END MODALS FOR POST AND ATTACH BTNS*/