:root {
    --body-back: #b0cdd9;
    --base-clr: #026873;
    --btn-hover-one: #039269;
    --name-clr: #2f3547;
    --lighter-base: #d9ecf5;
    --err-msg: #bb0000;
    --bx-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
        0 4px 6px -2px rgba(0, 0, 0, 0.1);
    --bx-shadow-clk: 0 12px 20px -3px rgba(0, 0, 0, 0.3),
        0 6px 20px -4px rgba(0, 0, 0, 0.1);
    --speech-bbl-owner: #00cec9;
    --speech-bbl-visitor: #0984e3;
    --comment-main-bkgrnd: #f3f3f3;
    --date-time: #8a8a8a;
    --hover-orange: #dd5901;
    --btn-text: #ffe2e7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 12px;
    box-sizing: border-box;
    font-family: 'Red Rose', cursive;
}

.back-link {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 10;
}

.back-link .back {
    font-size: 220%;
    color: var(--btn-hover-one);
    transition: all 750ms ease;
    -webkit-transition: all 750ms ease;
    -moz-transition: all 750ms ease;
    -ms-transition: all 750ms ease;
    -o-transition: all 750ms ease;
}

.back-link .back:hover {
    color: var(--hover-orange);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
}


.container {
    width: 90%;
    max-width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}


.profile-picture {
    width: 30%;
    max-width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 6px solid var(--base-clr);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-picture img {
    width: 90%;
    max-width: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.accordion {
    width: 65%;
}

.accordion-item {
    background-color: var(--base-clr);
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: var(--bx-shadow)
}

.accordion-link {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    background-color: var(--base-clr);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 0;
}

.accordion-link .icon-ion {
    color: var(--btn-text);
    padding: .3rem;
}

.accordion-link .up-icon {
    display: none;
}

.accordion-details {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #005058;
    transition: all 650ms;
    -webkit-transition: all 650ms;
    -moz-transition: all 650ms;
    -ms-transition: all 650ms;
    -o-transition: all 650ms;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.accordion-details::before {
    content: "";
    position: absolute;
    width: .4rem;
    height: 90%;
    background-color: var(--hover-orange);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.accordion-details p {
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
}

.accordion-item:target .accordion-details {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .down-icon {
    display: none;
}

.accordion-item:target .accordion-link .up-icon {
    display: block;
}

@media screen and (max-width:800px) {
    .container {
        flex-flow: column;
        min-height: 700px;
        max-height: 700px;
    }

    .profile-picture {
        margin-bottom: 30px;
        width: 100%;
    }

    .accordion {
        width: 100%;
    }
}