/*********************
/  LOGIN             /
/********************/

@media screen and (max-width:805px) {


    .login-form label {
        font-size: 90%;
    }

    .login-form input {
        font-size: 80%;
        padding: 3px;
    }

    .form-btns-main li a:link,
    .form-btns-main li a:visited {
        font-size: 80%;
        padding: 3px 12px;

    }

    .form-btns-bottom {
        font-size: 90%;
    }

    footer ul li a {
        font-size: 70%;
    }

    footer p {
        font-size: 50%;

    }
}

@media screen and (max-width:617px) {

    .form-btns-bottom {
        display: flex;
        flex-flow: column;
    }

    .form-btns-bottom li:first-child {
        margin-bottom: 1%;
    }
}

@media screen and (max-width:400px) {

    .login-form label {
        font-size: 80%;
    }

    .login-form input {
        font-size: 70%;
        padding: 1.5px;
    }

    .form-btns-main li a:link,
    .form-btns-main li a:visited {
        font-size: 70%;
        padding: 1.5px 10px;

    }

    .form-btns-bottom {
        font-size: 80%;
    }

    footer ul li a {
        font-size: 60%;
    }

    footer p {
        font-size: 40%;

    }

}


/*********************
/    HOME            /
/********************/



@media screen and (max-width:905px) {
    h1 {
        font-size: 150%;
    }

    h3 {
        font-size: 80%;
    }

    .header-container ul li a:link,
    .header-container ul li a:visited {
        padding: 3px 15px;
        font-size: 70%;
    }
}

@media screen and (max-width:678px) {
    h1 {
        font-size: 120%;
    }

    h3 {
        font-size: 60%;
    }

    header nav ul li a {
        display: none;
    }

    .burger {
        display: block;
    }
}