/*
REGISTER/LOGIN
*/

@media screen and (max-width:647px) {
    .login-box {
        font-size: 80%;
    }
}

@media screen and (max-width:543px) {
    .login-header h1 {
        font-size: 120%;
    }

    .link-msg a {
        display: block;
    }
}


@media screen and (max-width:250px) {
    .login-box {
        overflow-x: scroll;
    }
}

@media screen and (max-height:700px) {
    .login-box {
        overflow: scroll;
    }
}