* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    overflow-x: hidden;
}

.wrapper {
    background-image: url("../images/backgrounds/login_1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    min-width: 950px;
}

form {
    text-align: center;
}

/*use a fancy font for name of app*/
/*use text shadow for name of app*/
.login-box {
    position: relative;
    margin: 0 auto;
    top: 7%;
    width: 35%;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 15px 0;
}

.login-header {
    width: 100%;
    text-align: center;
    background-color: #555;
    color: #fff;
}

/*input:hover -> change border-color*/

.register-form-container {
    display: none;
}