@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');

:root {
    --btn-base-color: #29a889;
    --btn-hover-color: #02d8a2;
    --btn-error-msg: #ac1212;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*
NAV-BAR
*/
.top-nav {
    width: 100%;
    height: 50px;
    background-color: var(--btn-base-color);
    border-bottom: 5px solid var(--btn-hover-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav a {
    color: #fff;
}

.top-nav .logo a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
}

.top-nav nav ul {
    display: flex;
    list-style: none;
}

.top-nav nav ul li {
    margin-right: 10px;
}

.top-nav nav ul li a {
    text-decoration: none;
}

ion-icon {
    font-size: 90%;
}



/*
END NAV-BAR
*/