@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');

:root {
    --btn-base-color: #29a889;
    --btn-hover-color: #02d8a2;
    --btn-error-msg: #ac1212;
    --btn-font-hover: #0f0f0f;
    --border-grey: #d8d8d8;
    --search-btn: #F2622E;
    --sub-base-one: #0984e3;
    --sub-base-two: #ecf0f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body {
    background-color: #e9e9e9;
}

/*
NAV-BAR
*/
.top-nav {
    width: 100%;
    height: 50px;
    background-color: var(--btn-base-color);
    border-bottom: 5px solid var(--btn-hover-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.top-nav a {
    color: #fff;
}

.top-nav .logo a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
}

.top-nav nav ul {
    display: flex;
    list-style: none;
}

.top-nav nav ul li {
    margin-right: 10px;
}

.top-nav nav ul li a {
    text-decoration: none;
}

ion-icon {
    font-size: 90%;
}


.search-bar input[type="text"],
.search-bar input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    font-size: 70%;
    border: 1px solid var(--border-grey);
    padding: 3px;
    border-radius: 5px;
}

.search-bar input[type="text"] {
    margin-right: -4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 8px;
}

.search-bar input[type="submit"] {
    background-color: #fff;
    color: var(--btn-base-color);
    font-size: 60%;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 4.7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all 0.3s ease;
}

.search-bar input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--search-btn);
    color: var(--btn-font-hover);
    border: 1px solid var(--search-btn);
    padding-top: 5px;
}

/*
END NAV-BAR
*/


/*
INDEX
*/

.wrapper {
    margin: 0 auto;
    width: 75%;
    padding: 20px;
    position: relative;
    top: 75px;
}


.details-container {
    display: flex;
    justify-content: space-between;
}

.user-details,
.feed-details {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px #777;
}

.user-details {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: 10em;
}

.user-details .profile-pic a img {
    width: 130px;

}

.personals a {
    text-decoration: none;
    color: var(--btn-base-color);
    font-weight: 500;
    transition: all 0.3s ease;
}

.personals a:hover {
    color: var(--btn-font-hover);
}

.feed-details {
    width: 65%;
    box-shadow: 0 10px 6px -6px #777;
}

.post-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.post-form textarea,
.post-form input {
    font-family: 'Montserrat', sans-serif;
}

.post-form textarea {
    width: 98%;
    margin: 0 auto;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    padding: 8px;
}

.post-form input {
    margin: 10px 1% 0 0;
    width: 100px;
    background-color: var(--btn-base-color);
    border: 1px solid var(--btn-base-color);
    border-radius: 20px;
    font-size: 75%;
    color: #fff;
    padding: 3px 0;
    font-weight: 600;
    transition: all 0.3s ease;
}

.post-form input:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
    border: 1px solid var(--btn-hover-color);
    color: var(--btn-font-hover);
}

/*
END INDEX
*/

/*
POSTS
*/

.status_post {
    display: flex;
    width: 98%;
    margin: 15px auto 0 auto;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
}

.name-and-body {
    margin-left: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.name-and-body a {
    text-decoration: none;
    color: var(--btn-base-color);
    font-size: 80%;
    font-weight: 600;
    transition: all 0.3s ease;
}

.name-and-body a:hover {
    color: var(--btn-font-hover);
}

.post-body {
    font-size: 80%;
    margin-top: 10px;
}

.time-msg {
    font-size: 60%;
}

.news-feed-post-options {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-feed-post-options p {
    font-size: 65%;
    color: var(--sub-base-one);
    font-weight: 500;
}


/*
END POSTS
*/


/*
COMMENTS
*/

.comment-iframe {
    width: 100%;
    border-radius: 5px;
}

.status_post {
    cursor: pointer;
}

/*
END COMMENTS
*/



/*
LIKES
*/

embed {
    height: 50px;
    margin-left: 10px;
    position: relative;
}

/*
END LIKES
*/




/*
PROFILE
*/

.left-profile {
    background-color: var(--btn-base-color);
    color: var(--sub-base-two);
    width: 32%;
    text-align: center;
    border-radius: 5px;
    border-right: 3px solid var(--btn-hover-color);
    box-shadow: 0 10px 6px -6px #777;

}

.left-profile h3 {
    margin: 15px 0;
    font-weight: 400;
}

.left-profile .user-info {
    margin: 15px 0;
}

.left-profile .user-info p {
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 500;
}

.right-profile {
    background-color: #fff;
    width: 66%;
    font-size: 75%;
    word-spacing: 1.5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px #777;

}


/*
END PROFILE
*/